#headerbox {
    background-color: #a594f7;
    width: 100%;
    height: 180px;
    opacity:90%;

}

#bodybox {
    background-color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

}

div {
    display: inline-block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* Dropdowns */
.form-line {
    display: flex;
    align-items: center;
    gap: 0px;
}

#category {
    position: sticky;
    left: 20%;
    width: 25%;

    border-radius: 0.25em;
    border: 1px solid slategray;
    display: inline-block;
    font-family: monospace;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px; 
    padding: 0.25em 0.5em;
}

#description {
    text-align: center;
}

#country {
    position: sticky;
    left: 60%;
    width: 25%;

    border-radius: 0.25em;
    border: 1px solid slategray;
    display: inline-block;
    font-family: monospace;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px; 
    padding: 0.25em 0.5em;
}

div #categorylabel {
    position: sticky;
    left: 10%;
    display: inline-block;
    font-family: monospace;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-right:5px;
    color: rgb(42,42,42);
}

div #countrylabel {
    position: sticky;
    left: 50%;
    display: inline-block;
    font-family: monospace;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-right:5px;
    color: rgb(42,42,42);
}

/* News display */
#headline {
    text-align: center;
    font-size: 15;
    margin-top:0px;

}

/* Page Title */
#heading {
    text-align: center;
    color: white;
    display: block;
    font-family: monospace;
    font-size: 36px;
    font-weight: 340;
    margin: 0.5em auto;
    width: 80%;

}

#subheading {
    font-family: monospace;
    text-align: center;
    font-size: 15;
    font-weight: 100;
    margin-bottom: 25px;
    color: rgb(42, 42, 42);
}


#url {
    text-align: center;
    display: block;
    font-size: 20;
}


/* Loading SVG */
#loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 105px;
    height: 105px;
    margin-left: -52px;
    margin-top: -52px;
}

#loading.shown {
    display: block;
}

svg {
    position: absolute;
    top: 0;
    z-index: -1;
}

/* Footer */
#footer {
    opacity: 0.8;
    position: fixed;
    width: 80%;
    max-width: 800px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px;

    bottom: 10px;
    text-align: center;
    color: #555;
    /*background-color: rgba(255,255,255,0.7);*/
    background-color: rgba(255, 247, 145, 1);

    border-radius: 0.25em;
    font-family: monospace; 
    font-size:15px;
}

#footer a {
    color: #222;
}


/* Error*/
#error {
    text-align: center;
    font-family: monospace; 
    font-size:16px;
    left:25%;
    width:50%;
    visibility: hidden;
}