<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.1.2/svg.min.js"></script>
  <script src="/static/index.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="static/index.css">


  <div id="headerbox"> 
  <h2 id="heading"> 🗞 Your Daily Dose of News 🗞 </h2>
  <h5 id="describe"> AI-generated visualizations of today's top headlines </h5>

  <div>
    <label>category</label>
    <select id="category">
      <option selected="selected">general</option>
      <option>business</option>
      <option>entertainment</option>
      <option>health</option>
      <option>science</option>
      <option>sports</option>
      <option>technology</option>
    </select>
  </div>
  <div>
    <label>country</label>
    <select id="country">
      <option selected="selected">all</option>
      <option>us</option>
      <option>fr</option>
      <option>ru</option>
      <option>jp</option>
      <option>ve</option>
      <option>za</option>
    </select>
  </div>

</div>
  
</head>

<body>





  <div id="bodybox">
  <!-- <input id="category" placeholder="Choose news category (business, entertainment, general, health, science, sports, technology)"/> -->
    <div id="loading"><img src="/static/loading.svg"></div>

    <!-- <h2 id="headline"></h2> -->
    <h3 id="headline"></h3>
    <a class="center" id="url" href=""></a>
    <p id="description"></p>
    <!-- <h5 id="headline" class="center"></h5> -->
    <img id="img" src="" alt=""  class="center">
  </div>

  <!-- <div id="footer">Built with 🚀 <a target="_blank" href="https://replicate.com/evilstreak/clipdraw-interactive">Replicate</a>, based on Kevin Frans' <a target="_blank" href="https://replicate.com/kvfrans/clipdraw">CLIPDraw</a></div> -->
</body>

</html>