<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.1.2/svg.min.js"></script>
  <script src="/static/index.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="static/index.css">


  <div id="headerbox">
    <h2 id="heading"> 🗞 Your Daily Dose of News 🗞 </h2>
    <h6 id="subheading"> AI-generated visualizations of today's top headlines </h6>


    <!-- Select country, category -->
    <div class="form-line">
      <label id="categorylabel">category</label>
      <select id="category">
        <option selected="selected">general</option>
        <option>business</option>
        <option>entertainment</option>
        <option>health</option>
        <option>science</option>
        <option>sports</option>
        <option>technology</option>
      </select>

      <label id="countrylabel">country</label>
      <select id="country">
      </select>

      

    </div>
  </div>

</head>

<body>
  <!-- Error -->
  <div id="error" class="alert alert-warning" role="alert">
  </div>
  <!-- Loading -->
  <div id="loading"><img src="/static/loading.svg"></div>

  <!-- Show news article -->

  <div id="bodybox" class="container">
    <div class="row">
      <div id="newsbox" class="col-sm text-center">
        <h4 id="headline"></h4>
        <p id="description"></p>
        <a href="" id="url" type="button" class="btn btn-primary"></a>

      </div>
      <div class="col-sm">
        <img id="img" src="" alt="" class="center" style="width:80%">
      </div>
    </div>
  </div>

<!-- 
  <div id="bodybox">
    
    <h4 id="headline"></h4>
    <a class="center" id="url" href=""></a>
    <p id="description"></p>
    <img id="img" src="" alt="" class="center">
  </div> -->

  <!-- Footer -->
  <div id="footer">Built with 🚀 <a target="_blank"
      href="https://replicate.com/mehdidc/feed_forward_vqgan_clip">Replicate</a>, based on Mehdi Cherti's <a
      target="_blank" href="https://replicate.com/mehdidc/feed_forward_vqgan_clip">Feed forward VQGAN-CLIP</a>
  </div>
</body>

</html>